<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TcpHost" value="127.0.0.1" />
    <add key="TcpPort" value="9000" />
  </appSettings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="Logging\log4net.config" />
</configuration>
